.item {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    width: 560px;
    flex-direction: column;
}
.info {
    display: flex;
    justify-content: space-between;
    width: 560px;
}
img {
    width: 560px;
    height: 840px;
}

.title {
    text-transform: uppercase;
}

.price {
    font-size: 14px;
}

.addToCartBtn {
    height: 40px;
    background: none;
    border: 1px solid;
    width: 100px;
    margin: 0 0 10px 0;
    cursor: pointer;
}